html {
    background-color: #000000;
}

@font-face {
    font-family: clover;
    src: url(../fonts/SSCloverRegular_otf.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', sans-serif;
}

h1 {
    text-align: left;
    font-size: 1.3em;
    font-family: clover;
    font-weight: 700;
    font-style: normal;
    line-height: 1.7em;
    padding: 100px;
    color: #000000;
}

.link {
    text-decoration: none;
    color: #000000;
    background-color: #000000;
}

.link:hover {
    color: #fff100;
}

.strikeout {
    text-decoration: line-through;
}

.text {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.container01 img,
.container02 img,
.container03 img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px #cdcdcd;
}

.container01,
.container02,
.container03 {
    position: relative;
    margin: 40px auto;
    transform: none;
}

.text2,
.text3 {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.main {
    color: black;
    font-size: xx-large;
    font-weight: 600;
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    font-family: pretendard, sans-serif;
    font-style: normal;
    margin: 10px auto;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.closeBtn {
    padding: 3rem;
    background: yellow;
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 150px;
    width: 30px;
    cursor: pointer;
}

.title-bottom,
.title,
.title-right {
    text-align: center;
    margin: 20px auto;
}

.title a {
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 768px) {
    h1 {
        padding: 20px;
        font-size: 1.1em;
    }

    .main {
        font-size: x-large;
    }

    .closeBtn {
        left: 20px;
        top: 50px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        padding: 10px;
        font-size: 1em;
    }

    .main {
        font-size: large;
    }

    .closeBtn {
        left: 10px;
        top: 20px;
        padding: 1rem;
    }
}
